learning/data-sampling/datasets
learning/data-sampling/datasets/*
#learning/nn-learning/model
#learning/nn-learning/model/*
*.pyc
learning/nn-learning/sdf/__pycache__
learning/nn-learning/sdf/__pycache__/*
.vscode
learning/nn-learning/build
learning/nn-learning/build/*
cpp/build
cpp/build/*